.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nickname{
    font-size: 30px;
}

.balance{
    font-size: 20px;
}

.red{
    font-size: 30px;
    color: red;
}

.green{
   font-size: 30px;
   color: green;
}

.pending{
    background-color: #FFFF00;
}

.good{
    background-color: #006400;
}